* {
  margin:0;
  padding:0;
}

@font-face {
  font-family: 'MyFont1';
  src: url('GillSansStd.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'MyFont2';
  src: url('GillSansStd-Light.otf'); /* IE9 Compat Modes */
}

body{
  background: #333;
  font-family: 'MyFont1', Montserrat, sans-serif;
  color:#BFBFBF;
}
.card{
  background: transparent;
}

/* UTIL */
.grey_normal, .grey_normal_link{
  color: #BFBFBF;
  font-size:1.2em;
}
.grey_normal_link:hover{
  color: rgb(158, 157, 157);
  text-decoration: none;
}
.white_normal, .white_normal_link{
  color: #fff;
  font-size:1.2em;
}
.white_normal_link:hover{
  color: rgb(158, 157, 157);
  text-decoration: none;
}
.bracket{
  font-size: 2.8em;
}
.whitemassive{
  color:#fff;
  font-size:5.5em;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
}
.whitesubmassive{
  color:#fff;
  font-size:2.3em;
  font-weight: bold;
}
.capgreen{
  text-transform: uppercase;
  font-size:1em;
  color:#4EB165;
  font-weight: bold;
  padding:0 2%;
}
.article_heading{
  font-size:1.1em;
  color:#00FFE2;
  font-weight: bold;
  padding:1% 0;
}
.article_text{
  font-size: 1em;
  color:#00FFE2;
  font-weight: normal;
  font-family: 'MyFont2', sans-serif;
}
.founder-align{
  position: relative;
  top:-8px;
}
.founder-align img{
  width:3.5%;
}
.title{
  color:#F46F34;
  font-size:.85em;
  text-transform: uppercase;
  font-weight: bold;
}
.subtitle{
  color:#F46F34;
  font-size:1.0em;
}
.greentitle{
  color:#12CB03;
  font-size:.85em;
  text-transform: uppercase;
}

.blog_post{
  padding:1%;
  width:100%;
  height:100%;
  opacity: 0.3;
  transition: opacity 1s;
  transform: translateY(-34%);
}
.blog_post:hover{
  opacity: 1;
}

.blog_title{
  height:421px;
  max-width:521px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog_title p{
  position: relative;
  top:100px;
  z-index: 1000;
}

.tablee{
  width:100%;
  border:none;
}
.input_text, .input_detail, .input_submit{
  width:100%;
  height: 60px;
  padding:10px 25px;
  margin-bottom:5px;
  border:none;
  background: #333;
  color:#747373;
}
.input_detail{
  min-height:200px;
  resize: none;
}
.input_submit{
  background: #F46F34;
  color:#fff;
}

/* .container, .container-fluid, .row, .col-md-2, .col-6, .col-md-6{
  border:1px solid #fff;
} */
.row1{
  background: #555;
  padding:15px;
  width:100%;
  margin: auto;
  border:2px solid #707070;
  margin-bottom: 5px;
}

header{
  padding:4% 0;
}

header > .row > .col-6:first-child img{
  width: 10%;
  text-align: left;
}


.fa-facebook-square{
  color:#4267B2;
}
.fa-github-square{
  color:#fff;
}
.fa-twitter-square{
  color:#1DA1F2
}
.fa-instagram{
  color:#E1306C;
}
.fa-linkedin{
  color:#2867B2;
}

.skills{
  background: #222222;
  padding: 3% 0;
}

.blogs{
  padding: 3% 0;
}

svg{
  /* border:1px solid red; */
  z-index: 100;
  width: 150px;
  height: 150px;
  
}

svg circle{
  fill:none;
  stroke: #333;
  stroke-width: 3;
  stroke-linecap: round;
  transform: translate(5px 5px);
  width: 100%;
  height: 100%;
}
svg circle:nth-child(2){
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.card_1 svg circle:nth-child(2){
  stroke: #F46F34;
  stroke-dashoffset: calc(440 - (440*95)/100);
}
.card_2 svg circle:nth-child(2){
  stroke: #F46F34;
  stroke-dashoffset: calc(440 - (440*60)/100);
}
.card_3 svg circle:nth-child(2){
  stroke: #F46F34;
  stroke-dashoffset: calc(440 - (440*70)/100);
}
.card_4 svg circle:nth-child(2){
  stroke: #F46F34;
  stroke-dashoffset: calc(440 - (440*100)/100);
}
.card_5 svg circle:nth-child(2){
  stroke: #F46F34;
  stroke-dashoffset: calc(440 - (440*85)/100);
}
.card_6 svg circle:nth-child(2){
  stroke: #F46F34;
  stroke-dashoffset: calc(440 - (440*85)/100);
}
.card .percent .number{
  position: relative;
  top:-90px;
}
.card .percent .number h2, .card .percent .detail p{
  color:#aaa9a9;
  transition: color 900ms;
}
.card:hover .percent .number h2, .card:hover .percent .detail p{
  color:#fff;
}
.card{
  border: none;
  outline: none;
}

.notfound{
  color:#fff;
  font-size:5em;
  font-weight: bold;
}

.hamburger{
  color:#F46F34;
}

/* DESKTOP */
@media (min-width: 1024px){
  .welcome{
    float: left; 
  }
  .menu-nav ul{
    /* border:1px solid green; */
    list-style-type: none;
    float: right;
    margin-top: -4%;
    margin-left: 2%;
  }
  .menu-nav ul li{
    display: inline;
    padding: 0 15px;
  }
  .hamburger{
    display: none;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  .menu-nav{
    background: #000;
    width:100%;
    height: auto;
    padding:2%;
  }
  .menu-nav ul{
    list-style-type: none;
  }
  .menu-nav ul li{
    display: block;
    padding: 20px 0px;
    text-align: center;
  }
  .whitemassive{
    color:#fff;
    font-size:4.5em;
    font-weight:bold;
    font-family: 'Titillium Web', sans-serif;
  }
  
}

/* MOBILE */
@media (min-width: 240px) and (max-width: 767px) {
  .menu-nav{
    background: #000;
    width:100%;
    height: auto;
    padding:2%;
  }
  .menu-nav ul{
    list-style-type: none;
  }
  .menu-nav ul li{
    display: block;
    padding: 20px 0px;
    text-align: center;
  }
  .welcome{
    display: none;
  }
  header{
    padding:7% 0;
  }
  header > .row > .col-6:first-child img{
    width: 30%;
    text-align: left;
  }
  .whitemassive{
    color:#fff;
    font-size:4.5em;
    font-weight:bold;
    font-family: 'Titillium Web', sans-serif;
  }
  .bracket:last-child{
    display: block;
  }
  .founder-align{
    position: relative;
    top:-8px;
    display: block;
    padding: 7% 0;
  }
  .founder-align img{
    width:15%;
  }
  .card{
    border: none;
    outline: none;
    padding:10px 0;
  }
  .notfound{
    color:#fff;
    font-size:2em;
  }
}